body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}
header {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}
.hero {
    background: #e91e63;
    text-align: center;
    padding: 100px 20px;
    color: white;
}
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fff;
    color: #e91e63;
    text-decoration: none;
    border-radius: 5px;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #222;
    color: #fff;
}
.logo img {
    height: 60px;
    margin-bottom: 10px;
}
